<a href="https://colab.research.google.com/github/reginatwopointo/California_Housing_Prices_Random_Forest_Regression_R/blob/main/MSIS522_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MSIS522 Lab 1

## Introcuction to Pandas

pandas is designed to make it easier to work with structured data. Most of the analyses you might perform will likely involve using tabular data, e.g., from .csv files or relational databases (e.g., SQL). The pandas name itself is derived from panel data, an econometrics term for multidimensional structured data sets, and Python data analysis itself. In this notebook, we will go through some examples to get you familiar with the pandas package.

In [ ]:
# import pandas using the conventional abbreviation
import numpy as np
import pandas as pd

### Series and DataFrame in Pandas
There are two fundamental data structures in Pandas:
- Series: a one-dimensional array of indexed data. (the equivalent of _vector_ in R)
- DataFrame: a two-dimensional array of indexed data. (the equivalent of _data frame_ in R)

We can create pandas series and dataframes from raw data as follows.

In [ ]:
# create a pandas series
s = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print("This is a pandas series:")
display(s)

# you can access the number in a pandas series using either the labelled index or the integer index.
print("Access the first number with labelled index: {0} and with integer index: {1}".format(s['a'], s[0]))

# create a pandas dataframe
df = pd.DataFrame({
    'value': [0.25, 0.5, 0.75, 1.0], #column name
    'label': ['A', 'B', 'C', 'D']  #column name 2
})
print("This is a pandas dataframe:")
display(df)

df1 = pd.DataFrame({'x': s, 'y': s}) #x, y column names, s refers to series
print("This is another pandas dataframe:")
display(df1)

This is a pandas series:

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

Access the first number with labelled index: 0.25 and with integer index: 0.25
This is a pandas dataframe:

   value label
0   0.25     A
1   0.50     B
2   0.75     C
3   1.00     D

This is another pandas dataframe:

      x     y
a  0.25  0.25
b  0.50  0.50
c  0.75  0.75
d  1.00  1.00

#### Task 1

In [ ]:
np.random.seed(0)  # seed for reproducibility

feature = np.random.randint(10, size=6)
label = np.array(['p', 'n', 'n', 'p', 'n', 'n']) #similar to a list but has a different data structure
row_index = np.array(['a', 'b', 'c', 'd', 'e', 'f']) #index


# TODO: Create a dataframe from feature and label below with proper row index and col index.
df2 = pd.DataFrame(data = {'feature': feature, 'label': label}, index = row_index) #{} disct key_value
df2

   feature label
a        5     p
b        0     n
c        3     n
d        3     p
e        7     n
f        9     n

### Basic properties of a series or dataframe

In [ ]:
# basis properties of a series
print("Length of the series: {}".format(len(s)))
print("Index names of the series: {}".format(list(s.index)))

# basis properties of a dataframe
print("Column names of the dataframe: {}".format(list(df.columns)))
print("Index names of the dataframe: {}".format(list(df.index)))
print("Number of dimensions of the dataframe: {}".format(df.ndim))
print("Shape of the dataframe: {}".format(df.shape)) #(4,2) rows/columns

# statistics of a numerical data column
display(df2['feature'].describe()) #count, mean, std, min, max

# frequency of a categorical data column
display(df2['label'].value_counts()) #count n and p

Length of the series: 4
Index names of the series: ['a', 'b', 'c', 'd']
Column names of the dataframe: ['value', 'label']
Index names of the dataframe: [0, 1, 2, 3]
Number of dimensions of the dataframe: 2
Shape of the dataframe: (4, 2)

count    6.000000
mean     4.500000
std      3.209361
min      0.000000
25%      3.000000
50%      4.000000
75%      6.500000
max      9.000000
Name: feature, dtype: float64

n    4
p    2
Name: label, dtype: int64

### Loading data into a Dataframe from text file

In [ ]:
# read a csv file
pop = pd.read_csv('https://raw.githubusercontent.com/zariable/data/master/state-population.csv')
display(pop.head())

# rename
pop.rename(columns={"state/region": "state"}, inplace=True)
display(pop.head())

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

  state     ages  year  population
0    AL  under18  2012   1117489.0
1    AL    total  2012   4817528.0
2    AL  under18  2010   1130966.0
3    AL    total  2010   4785570.0
4    AL  under18  2011   1125763.0

### Data indexing, slicing and filtering
To address a subset of data in a dataframe, we can use either [loc](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html) or [iloc](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.iloc.html) functions in pandas API.
- loc: Access a group of rows and columns by label(s) or a boolean array.
- iloc: Purely integer-location based indexing for selection by position.

In [ ]:
# indexing & slicing using index and column names
display(pop.loc[2, ['state', 'population']]) #access by labels , 1-row index, 2- name of the column
display(pop.loc[1:4, ['state', 'population']])

# indexing & slicing using index and column integer indices
display(pop.iloc[:3, :3]) #access by intergers only

pop_age_year = pop.loc[:, ['ages', 'population']] #all rows of age and population columns
display(pop_age_year.head())

# filtering
pop_2012 = pop.loc[pop['year'] == 2012, :]
display(pop_2012.head())

# filtering on multiple columns
pop_2012_total = pop.loc[(pop['year'] == 2012) & (pop['ages'] == 'total'), :] #all columns will be displayed
display(pop_2012_total.head())

# filtering and slicing
pop_2012_total_2 = pop.loc[(pop['year'] == 2012) & (pop['ages'] == 'total'), ['state', 'population']]
display(pop_2012_total_2.head())

    state   ages  year  population
1      AL  total  2012   4817528.0
95     AK  total  2012    730307.0
97     AZ  total  2012   6551149.0
191    AR  total  2012   2949828.0
193    CA  total  2012  37999878.0

#### Task 2

In [ ]:
# TODO: Find the total population for WA in year 2010.
pop.loc[(pop['ages']=='total')&(pop['state']=='WA')&(pop['year']==2012), ['population']] #pd dataframe / without brackets list

      population
2303   6895318.0

In [ ]:
# TODO: Calculate the median of population for all age groups across all states in 2010.
pop.loc[(pop['ages']=='total')&(pop['state']!= 'USA')&(pop['year']==2010), 'population'].median()

pop.loc[(pop['ages']=='total')&(pop['state']!= 'USA')&(pop['year']==2010), ['population']].median()

population    4092453.0
dtype: float64

### Sorting dataframe

In [ ]:
# find the state with the largest population
pop_2012 = pop.loc[(pop['ages'] == 'total') & (pop['year'] == 2012) & (pop['state'] != 'USA'),:]
display(pop_2012.sort_values('population', ascending=False).head(10))

     state   ages  year  population
193     CA  total  2012  37999878.0
2111    TX  total  2012  26060796.0
1536    NY  total  2012  19576125.0
479     FL  total  2012  19320749.0
671     IL  total  2012  12868192.0
1824    PA  total  2012  12764475.0
1727    OH  total  2012  11553031.0
480     GA  total  2012   9915646.0
1056    MI  total  2012   9882519.0
1631    NC  total  2012   9748364.0

#### Task 3

In [ ]:
# Find the 10th largest city in terms of population in 2010 based on age < 18.
pop_2010_a18 = pop.loc[(pop['year'] == 2010) & (pop['ages'] == 'under18')&(pop['state']!='USA')]
pop_2010_a18_sorted = pop_2010_a18.sort_values('population', ascending=False)
# display(pop_2010_a18_sorted)

pop_2010_a18_sorted.iloc[9, :] #Find the 10th largest city

state                NC
ages            under18
year               2010
population    2282288.0
Name: 1627, dtype: object

### Join multiple dataframes

In [ ]:
# Join pop dataframe with abbrevs and areas dataframes to find the areas for each state.
areas = pd.read_csv('https://raw.githubusercontent.com/zariable/data/master/state-areas.csv')
areas.rename(columns={'area (sq. mi)': 'area'}, inplace=True)
display(areas.head())

abbrevs = pd.read_csv('https://raw.githubusercontent.com/zariable/data/master/state-abbrevs.csv')
display(abbrevs.head())

pop.rename(columns={'state': 'abbreviation'}, inplace=True)
pop_abbrevs_areas = pd.merge(pd.merge(pop, abbrevs), areas) #where is the pop coming from?

display(pop_abbrevs_areas.head())

        state    area
0     Alabama   52423
1      Alaska  656425
2     Arizona  114006
3    Arkansas   53182
4  California  163707

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

  abbreviation     ages  year  population    state   area
0           AL  under18  2012   1117489.0  Alabama  52423
1           AL    total  2012   4817528.0  Alabama  52423
2           AL  under18  2010   1130966.0  Alabama  52423
3           AL    total  2010   4785570.0  Alabama  52423
4           AL  under18  2011   1125763.0  Alabama  52423

### Data aggregation

In [ ]:
# aggregate over a particular column
display(pop_abbrevs_areas.groupby('year')['population'].sum().head()/2) #total population for each year

# different aggregations over different columns
display(pop_abbrevs_areas.groupby('year').aggregate({
    'population': ['mean', 'std'],
    'area': ['max', 'min']}).head()
)

        population                  area
              mean           std     max min
year
1990  3.076876e+06  4.372972e+06  656425  68
1991  3.120529e+06  4.438337e+06  656425  68
1992  3.166896e+06  4.502802e+06  656425  68
1993  3.210917e+06  4.556218e+06  656425  68
1994  3.252615e+06  4.602448e+06  656425  68

#### Task 4

In [ ]:
# TODO: Get the min, max, mean and median of the population between 1990 and 2010 based on age group < 18.
pop.loc[(pop['year']>= 1990)& (pop['year']<=2020)&(pop['ages']=='under18')&(pop['abbreviation']!='USA'),['population']].median()

population    970450.0
dtype: float64

## Case Study: Customer Churn

Customer attrition, also known as customer churn, customer turnover, or customer defection, is the loss of clients or customers.

Telephone service companies, Internet service providers, pay TV companies, insurance firms, and alarm monitoring services, often use customer attrition analysis and customer attrition rates as one of their key business metrics because the cost of retaining an existing customer is far less than acquiring a new one. Companies from these sectors often have customer service branches which attempt to win back defecting clients, because recovered long-term customers can be worth much more to a company than newly recruited clients.

In this case study, we will apply exploratory data Analysis and build a machine learning model to predict customer churn by assessing their propensity of risk to churn. Since these models generate a small prioritized list of potential defectors, they are effective at focusing customer retention marketing programs on the subset of the customer base who are most vulnerable to churn.

In [ ]:
# importing libraries
import os
import io
import warnings

import numpy as np
import scipy as sp
import pandas as pd
import sklearn as sk

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

warnings.simplefilter(action='ignore', category=FutureWarning)

### Data Overview

load the data and take a peek at the data
Each row represents a unique costumer, while the columns contains information about customer’s services, account, demographic and etc. The data set includes information about:

- Column **Churn**: Customers who left within the last month.
- Customer **Services** that one has signed up for: phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movies.
- Customer **Account** information: how long they’ve been a customer, contract, payment method, paperless billing, monthly charges, and total charges.
- Customer **Demographic** information:gender, age range, and if they have partners and dependents.

In [ ]:
# load data from CSV file
df = pd.read_csv("https://raw.githubusercontent.com/zariable/data/master/telco_customer_churn.csv")
df.head()

In [ ]:
print("Rows     : ", df.shape[0])
print("Columns  : ", df.shape[1])
print("\nFeatures : \n", list(df.columns))
print("\nMissing values :  ", df.isnull().sum().values.sum())
print("\nUnique values :  \n", df.nunique())

### Exploratory Data Analysis

#### Impute missing values

There are eleven missing values in "TotalCharges" for some of the customers with zero tenure. We can impute these values with zero as these customers probably haven't paid any bills yet.

In [ ]:
df['TotalCharges'] = df['TotalCharges'].replace(" ", 0).astype('float')
 
# TODO: create a new column 'churn_rate' where the value is 1 if Churn euqlas Yes and 0 ow.

#### Target variable: Churn

CHURN columns tells us about the number of Customers who left within the last month.

    Churn: No - 73%
    Churn: Yes - 27%

In [ ]:
print(df['Churn'].value_counts())
ax = sns.catplot(y='Churn', kind='count', data=df, height=2.5, aspect=2.5, orient='h')

#### Numerical features

There are only three numerical columns: tenure, monthly charges and total charges. The probability density distribution can be estimate using the seaborn kdeplot function.

In [ ]:
def distplot(feature, frame):
    plt.figure(figsize=(8,3))
    plt.title("Distribution for {}".format(feature))
    ax0 = sns.distplot(frame[frame['Churn'] == 'No'][feature], color= 'b', label='Churn: No')
    ax1 = sns.distplot(frame[frame['Churn'] == 'Yes'][feature], color= 'g', label='Churn: Yes')
    plt.legend()
    plt.show()

numerical_cols = ['tenure', 'MonthlyCharges']

# show the statistics of column tenure and use distplot to plot the Distribution of tenure for Churn and Non-churn users.
display(df['tenure'].describe())
distplot('tenure', df)

# TODO: apply the same analysis above to examine column MonthlyCharges

From the plots above we can conclude that:

- Clients with very short tenure are very likely to churn.
- Clients with higher monthly charges are more likely to churn.
- Tenure and monthly charges are probably important features.

Use scatter plot to check the distribution of customers based on both tenure and monthly charge.

In [ ]:
fig = plt.gcf()
fig.set_size_inches(15, 10)
ax = sns.scatterplot(x='tenure', y='MonthlyCharges', hue='Churn', style='Churn', alpha=0.5, data=df)

#### Categorical features

This dataset has 16 categorical features. We will examine some of them to see if they are correlated with the target variable (churn rate).

##### Contract

In [ ]:
sns.barplot("Contract", "churn_rate", palette = "Blues_d", order= ['Month-to-month', 'One year', 'Two year'], data=df)

# TODO: apply the same analysis to InternetService

##### Partner and dependents

In [ ]:
fig, axis = plt.subplots(1, 2, figsize=(12,4))
axis[0].set_title("Has partner")
axis[1].set_title("Has dependents")
axis_y = "percentage of customers"
# Plot Partner column
gp_partner = df.groupby('Partner')["Churn"].value_counts()/len(df)
gp_partner = gp_partner.to_frame().rename({"Churn": axis_y}, axis=1).reset_index()
ax = sns.barplot(x='Partner', y= axis_y, hue='Churn', data=gp_partner, ax=axis[0])
# Plot Dependents column
gp_dep = df.groupby('Dependents')["Churn"].value_counts()/len(df)
gp_dep = gp_dep.to_frame().rename({"Churn": axis_y}, axis=1).reset_index()
ax = sns.barplot(x='Dependents', y= axis_y, hue='Churn', data=gp_dep, ax=axis[1])

#### Correlation between feature and target variable

We can use Correlation heatmap to visualize the correlation between features as well as feature and target variable.

In [ ]:
plt.figure(figsize=(12, 6))
corr = df[['gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']].apply(lambda x: pd.factorize(x)[0]).corr()
display(corr)
ax = sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns, linewidths=.2, cmap="YlGnBu")

# End of MSIS522 Lab 1